*,
html{
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(208, 208, 208);
    display: flex;
    flex-direction: column;
    max-width: 1440px;
    margin: auto;
    height: 100vh;
    table-layout: fixed;
}

.judul {
    text-align: center;
}

.ul-nav {
  justify-content: center;
}

.tentang {
    list-style-type: none;
    text-align: left;
    font-style: normal;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: absolute;
    top: 0%;
}

.gedung-foto {
    display: inline-block;
    max-width: 100%;
    height: auto;
}

.div-pict{
    justify-content: center;
    align-items: center;
    display: flex;
}

.PICT {
    width: 30%;
}

.text {
    list-style-type: none;
    justify-content: center;
    text-align: justify;
    padding: 5%;
}


.visi-misi {
    padding: 5%;
    background-color: white;
    width: 60%;
    margin-top: 80px;
    margin-left: 80px;
    border-radius: 20px;
    font-style: oblique;
    line-height: 30px;
    
}

.tujuan-perseroan {
    padding: 5%;
    background-color: white;
    width: 60%;
    margin-top: 80px;
    margin-left: 80px;
    border-radius: 20px;
    font-style: oblique;
    line-height: 30px;
}

.tata-nilai{
    padding: 5%;
    background-color: white;
    width: 60%;
    margin-top: 80px;
    margin-left: 80px;
    border-radius: 20px;
    font-style: oblique;
    line-height: 30px;
}
.logo-akhlak {
    width: 50%;
   display: block;
   margin-left: auto;
   margin-right: auto;
}

/* Hover affect on social media icon */
.socialIcons a:hover{
    background-color: #111;
    transition: 0.5s;
}
.socialIcons a:hover i{
    color: white;
    transition: 0.5s;
}
.footerNav{
    margin: 30px 0;
}
.footerNav ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
}
.footerNav ul li a{
    color:rgb(0, 0, 0);
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;

}
.footerNav ul li a:hover{
    opacity: 1;
}
.footerBottom{
    background-color: #000;
    padding: 20px;
    text-align: center;
}
.footerBottom p{
    color: white;
    line-height: 30px;
}
.designer{
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}
@media (max-width: 700px){
    .footerNav ul{
        flex-direction: column;
    } 
    .footerNav ul li{
        width:100%;
        text-align: center;
        margin: 10px;
    }
    .socialIcons a{
        padding: 8px;
        margin: 4px;
    }
}
